@import url('https://fonts.googleapis.com/css?family=Roboto');

/*
  For a relatively simple stylesheet, I felt that a CSS preprocessor wasn't needed so this
  styling is just written in vanilla CSS.
  Roboto font is added
  Bootstrap styling is added
*/

/*general item styling*/
body {
  margin: 0;
  font-family: 'Roboto', arial;
  display: block;
}
h2 { margin: 20px; font-size: 25px; }
h3 { font-size: 23px; margin: 10px 0; }
ul { list-style-type: none; padding: 0; margin: 0; }
button {
  margin: 5px;
}
tr { cursor: pointer; }

/*styling for the main title*/
.title { margin: 10px 20px; }

/*styling for the navigation group*/
.nav { margin: 5px; }

/*styling for the components in the wrapper*/
/*applies to each of calendar, editView, dayView, addActivity, users, login*/
.wrapper {
  background-color: #fff;
  box-sizing: border-box;
  margin: 50px auto;
  display: block;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.5);
  position: relative;
}

/*the smaller of the two component widths*/
.smallWidth {
  width: 98%;
  max-width: 500px;
}

/*the larger of the two component widths*/
.fullWidth {
  width: 98%;
  max-width: 1200px;
}

.loginScreen {
  text-align: center;
}
.facebookButton {
  background-color: #4c69ba;
  padding: 10px 20px;
  border: none;
  color: #EEE;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: arial;
  font-size: 18px;
}
.facebookButton i{
  padding-right: 15px;
}

/*styling for viewActivity component*/
.indent {
  margin-left: 5px;
  margin-top: 10px;
}

/*styles the heading of calendar and dayView*/
.dateHeading {margin-bottom: 25px;}

/*styles the background of a clickable space*/
.clickable {
  cursor: pointer;
  padding: 10px;
  border-radius: 3px;
}
.clickable:hover {
  background-color: #eee;
}

/*adds a margin to the interior of the calendar component*/
.calendarView{
  margin: 15px 0;
}

/*styling for particular calendar elements*/
.calHeading, .calendarDays {
  display: flex;
  padding: 0;
}
.calHeadingItems {
  flex: 1;
  background-color: #333;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
}
.calendarDaysItems {
  flex: 1;
  display: inline-block;
  width: 14.25%;
  height: 150px;
  text-align: right;
  box-sizing: border-box;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
.calEventBox li {
  background-color: rgba(0,0,0,0.7);
  color: #FFF;
  padding: 1px 6px;
  border-radius: 3px;
  font-size: 13px;
  margin: 3px;
  color: #FFF;
}

/*styling for the div containing the forward and back buttons on the <Calendar /> and <DayView />
Components*/
.buttonSpace {
  position: absolute;
  right: 15px;
  top: 15px;
}

/*styling for <DayView /> Component*/
.dayEvent {
  background-color: rgba(0,0,0,0.3);
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.dayEvent:hover {
  background-color: rgba(0,0,0,0.4);
}
.dayEvent h4 {
  font-weight: bolder;
}
.dayViewTime {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 15px;
  font-weight: normal;
}
